@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ysabeau Office', sans-serif;
  overflow-x: hidden;
  
  min-height: 100vh;
  width: 100%;
  background-color: #ececec;
  display: flex;
  background-color: #dfe6e9;
  justify-content: center;
}

/* Navbar */


.navbar {
  font-family: 'PT Sans Narrow', sans-serif;
  position: fixed;
  top: 24px; 
 
  left: 0;
  width: 100%;
  background-color: #f7efef;
  z-index: 999;
}


.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
  font-family: 'PT Sans Narrow', sans-serif;
}

.nav-link {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  position: relative;
  transition: color 0.3s ease;
  font-family: 'PT Sans Narrow', sans-serif;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}


.nav-link:hover,
.nav-link:focus {
  color: #dfdc51;
}

.nav-link:hover::after,
.nav-link:focus::after {
  background-color: #dfdc51;
  color: #dfdc51;
}

.active .nav-link,
.nav-link.active {
  color: #dfdc51;
  
}

.active .nav-link::after,
.nav-link.active::after {
  background-color: #dfdc51;
  color: #dfdc51;
}
.nav-link:focus{

 color:#dfdc51 ; 

}




.navbar-toggler {
  color: #0fc4d1; /* Set a color that contrasts with the background */
  font-size: 10px; /* Adjust the size as needed */
  
}




.navbar.transparent {
  background-color: transparent;
}

.navbar.gradient-bg {
  background-color: #218c74 ;
}
.navbar-brand image {
  font-weight: bold;
  color: #1bc7aa;
  width: 40px;
  height: 10px;
}

.navbar-nav .nav-link {
  font-size: 16px;
  margin-right: 10px; /* Add spacing between nav links */
  color: #fff;
  font-weight:500 ;
}
.nav-link:hover{
  color: #dfdc51;

}


.nav-label {
  font-weight: bold;
  color: #666;
  margin-right: 10px;
}



/* top bar */

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:#22a6b3;
  z-index: 1001;
}

.social-media-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media-item {
  display: inline-block;
  margin-right: 10px;
 max-width: 100%;
 
}

.social-media-item a {
  text-decoration: none;
  color: whitesmoke;
}


.call-us {
  text-align: right;
}

.call-us-label {
  font-weight: bold;
  color: #0f0801;
  margin-right: 5px;
  font-size: 13px;
}

.call-us-number {
  font-weight: bold;
  font-size: 14px;
  color: #c8eb68;
}


/* Carousel */


.smallogan .p-c{

  font-weight: 100;
  color: rgb(24, 23, 23);

}

.slogan-head {
  position: absolute;
  top: 60%;
  left: 5%;
  transform: translateY(-50%);
  color:  #850855;
  font-weight: bold;
  
  padding: 10px 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  z-index: 1;
}

.title-slog h4 {
  color: #2b2626;
  margin: 0;
  font-size: 25px;
  text-align: right;
}

.carousel-inner .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Adjust the opacity as desired */
}


.carousel-control-prev,
.carousel-control-next {
  width: 30px;
}

.carousel-control-prev {
  left: -30px;
}

.carousel-control-next {
  right: -30px;
}

.carousel-item {
  height: 550px; /* Adjust the height as desired */
  position: relative;
}
.carousel-container {
  position: relative;
  overflow: hidden;
}

/* pre loader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader img {
  width: 85px;
}

.type-div{

  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  

}


.typing-text {
  margin-top: 30px;
  text-align: center;
}


/* shipment */
#con-threee {
  
  padding: 10px;
  
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-17%);
}

#con-threee .row {
  justify-content: space-between;
}

#con-threee h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  
  
}


#con-threee p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.icon-img {
  display: block;
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

/* Animation for the slide-up effect */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up {
  animation: slideUp 0.5s ease-in-out;
}




/* Add loading animation styles */
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  z-index: 9999;
}

.loader{

  position: relative;

}

.loader::before,
.loader::after{

  content: "";
  width: 1.8em;
  height: 1.8em;
  position: absolute;
  border-radius: 4em;
}

.loader::before{

  background-color: #038680;
  left: 0;
  transform: translateX(10px);
  animation: moveleft 1s ease infinite
}
.loader::after{


  background-color: #6b0351;
  right: 0;
  transform: translateX(-10px);  
  animation: moveright 1s ease infinite;
}

@keyframes moveright{

  0%{
    transform: translateX(-10px);  

  }
  50%{
    transform: translateX(10px);  
    background-color: #b1218d;

  }

  100%{
    transform: translateX(-10px);  


  }

}



@keyframes moveleft{

  0%{
    transform: translateX(10px);  

  }
  50%{
    transform: translateX(-10px);  
    background-color: #038680;

  }

  100%{
    transform: translateX(10px);  


  }

}





/* Hide the content until loaded */
body {
  display: none;
}



/* CSS */
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-animation {
  opacity: 0;
  animation: slideInFromBottom 1s ease-in-out forwards;
}




/* Booking Form Styling */

.closed{

  color: crimson;

}
.open{

  color: rgb(2, 110, 17);

}

.booking-head{

  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}
.select-wrapper {
  position: relative;
  width: 100%;
}

.select-wrapper::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: transform 0.3s ease-in-out;
}

.select-wrapper.open::after {
  transform: translateY(-50%) rotate(-180deg);
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 10px 40px 10px 15px;
  width: 100%;
  cursor: pointer;
}

.select-wrapper select:focus {
  outline: none;
}

.select-wrapper select[multiple] {
  height: auto;
  padding-bottom: 5px;
}

.select-wrapper select[multiple] option {
  padding: 5px;
}

.select-wrapper select[multiple] option:checked {
  background-color: #f7f7f7;
}

.select-wrapper select[multiple] option:hover {
  background-color: #f0f0f0;
}

.select-wrapper select[multiple] option::before {
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
}

.booking-form-wrapper {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}




.opening-hours-heading {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ff4500;
}

.opening-hours-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.opening-hours-item {
  padding: 10px 0;
  margin-bottom: 10px;
}

.opening-hours-item.alternate {
  background-color: #e9e9e9;
}

.opening-hours-wrapper {
  background-color: #c1d6da;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-family: 'PT Sans Narrow', sans-serif;
  position: relative;
  margin-top: 50px;
}

.opening-hours-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.opening-hours-table {
  width: 100%;
  border-collapse: collapse;
}

.table-heading th {
  font-weight: bold;
  text-align: left;
  padding: 10px;
  background-color: #79bec0;
}

.opening-hours-row td {
  padding: 10px;
  font-weight: 600;
}

.opening-hours-row.alternate {
  background-color: #adced1;
}

.circle-image {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background-color: #5ad1da;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.clock-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.opening-hours-wrapper:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(45deg, #79bec0, #ff4500);
  z-index: -1;
  border-radius: 5px;
}




.professional-line{
  border-top: 1px solid #ccc ;
}

.professional-text {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.contact-email,
.contact-phone {
  font-weight: bold;
}


.form-control-file{

  border: #038680 2px solid;

}

.booking-form-wrapper {
  padding: 40px;
 
  background: linear-gradient(to bottom, #a30681, #027780);
  background-repeat: no-repeat;
  font-family: 'PT Sans Narrow', sans-serif;
}

.booking-heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: #85bb06;
  font-family: 'PT Sans Narrow', sans-serif;
}

.form-group label {
  font-weight: bold;
  color: rgb(194, 194, 194);
}

.form-group2 label {
  font-weight: bold;
  color: rgb(194, 194, 194);
}
.form-control {
  border-radius: 10;
  border-color: #ccc;
  outline: none;
}

.form-control:focus {
  border-color: #888;
  box-shadow: none;
}

.form-group2{

  margin-top: 20px;
  

}
.form-select {
  border-radius: 0;
 width: 100%;
  height: 38px;
}

.form-select:focus {
  border-color: #888;
  box-shadow: none;
}

.form-group input:focus{

  border: #5ae718 2px solid;

}
.form-group input{

  border: #055548 1px solid;

}
.btn1 {
  display: inline-block;
  background-color: #5d7505;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  

}

.btn1:hover {
  background-color: #b3007d;
}





/* scroll to top */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #6b0351;
  color: white;
  cursor: pointer;
  padding: 15px;
 
  width: 50px;
  height: 50px;
  


}
#scrollToTopBtn.show {
  opacity: 1;
}
#scrollToTopBtn i {
  margin-top: 3px;
}
#scrollToTopBtn:hover {
  background-color: #049167;
}


 /* Services Section */
.services-container.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* Adjust this value as per your design */
  margin: 0 auto;
}

#tooltip {
  display: none;
}


/* alert animation */

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.alert-success {
  animation: fadeOut 8s ease-in-out;
  opacity: 0;
  transition: opacity 0.3s;
}

.alert{

  text-align: center;
  display: none;

}

#check{

  font-size: 25px;
  color: green;

}
#faileds{

  font-size: 25px;
  color: maroon;

}


.container-fluid{

  font-family: 'Tektur', cursive;
  font-size: medium;
  
}

/* cursor effect */

.typing-cursor {
  animation: blinkCursor 1s infinite;
  background-color: rgb(182, 22, 174); /* Change the cursor color here */
  height: 1em;
  margin-left: 0.1em;
  display: inline-block;
}

@keyframes blinkCursor {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}





/* Center the text in the columns */
.text-center {
  text-align: center;
}

/* Align the assurance titles and icons in one row */
.row.align-items-center {
  display: flex;
  justify-content: space-between;
}

/* Style the heading for each assurance */
#assurance1 h3,
#assurance2 h3,
#assurance3 h3 {
  color: #ececec;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px;
  font-family: 'Ysabeau SC', sans-serif;
}

/* Style the container background and text color */
#container-fluid {
  background-color: #34495e;
  color: #dad6d6;
  padding: 20px 0;
}

/* Style the assurance icons */
#assurance1 img,
#assurance2 img,
#assurance3 img {
  max-width: 50px;
  height: 30px;
}

/* Arrange the img and h3 in the same row */
.assurance-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 5px; 
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .assurance-content {
    flex-direction: column;
    align-items: center;
  }

  #assurance1 h3,
  #assurance2 h3,
  #assurance3 h3 {
    font-size: 18px;
  }
}



/* about us */
.about-us-sec {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: #dfe6e9;
 
}
.about-us {
  width: 100%;
}
.about-us h1 {
  text-align: center;
  font-size: 30px;
  color: #2b9ec2;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 50px;
}
.about-us h1::after {
  content: "";
  height: 5px;
  width: 115px;
  background-color: #c9286b;;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 15px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 60px auto;
}
.content {
  width: 100%;
  max-width: 600px;
  text-align: left;
  padding: 0px 30px;
}
.content p {
  font-size: 15px;
  margin-top: 20px;
  text-align: justify;
}
.content h3 {
  
  text-align: justify;
  font-size: 20px;
}
.content .button a {
  display: inline-block;
  background-color: #2b9ec2;
  border: 1px solid #2b9ec2;
  padding: 10px 35px;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  margin-top: 20px;
}
.content .button a:hover {
  background-color: white;
  color: black;
  border: 2px solid;
  border-color: #2b9ec2;
}
.content .social {
  margin-top: 30px;
  display: flex;
}
.content .social a {
  text-decoration: none;
  color: #222;
  font-size: 25px;
  padding: 0px 7px;
}
.content .social a:hover {
  color: #2b9ec2;
  transition: 1s ease;
}
.content .social i {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border: 1px solid #222;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}
.image-section {
  width: 100%;
  max-width: 300px; /* Adjust the size as needed */
  text-align: center; /* Center the image horizontally */
  padding: 10px 50px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  border-radius: 50%; /* Make the container circular */
  margin: 0 auto; /* Center the container */
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* Make the image circular */
  display: block;
  margin: 0 auto; /* Center the image within its circular container */
}


/* Responsive Styles */
@media (min-width: 768px) {
  .content {
    width: 60%;
    max-width: none;
  }
  .image-section {
    width: 40%;
    max-width: none;
  }
}


.header h1{

  text-align: center;
  font-size: 30px;
  color: rgb(9, 148, 148);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 50px;
  font-family: 'Ysabeau Office', sans-serif;
  margin: 50px 0;
  text-align: center;
  font-weight: 500;
}

.header h1::after{


  content: "";
  height: 5px;
  width: 150px;
  background-color:  #c9286b;;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 15px;

}



/* services */

.wrapper-services{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dfe6e9
 
}

.wrapper-services h1{

  text-align: center;
  font-size: 30px;
  color: rgb(9, 148, 148);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 50px;

  margin: 50px 0;
  text-align: center;
  font-weight: 500;

}

.wrapper-services h1::after{

  content: "";
  height: 5px;
  width: 150px;
  background-color:  #c9286b;;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 15px;

}
.wrapper-services p{

  font-size: large;

}
.content-box{



  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  margin-bottom: 20px;

}
.price a {
  display: inline-block;
  background-color: #01850c;
  border: 1px solid #01850c;
  padding: 10px 35px;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  margin-top: 20px;
  }

.card{

  min-height: 220px;
  width: 300px;
  width: calc((100% - 40px) / 4);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #cacaca;
  margin: 10px 4px;
 
  cursor: pointer;
}

.card i{

  margin: 20px;
  color: crimson;

}
.card h3{

  margin-bottom: 19px;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  color: #11927d;

}
.card p{
  font-size: 12px;
  text-align: center;
  color: rgb(19, 20, 20);

}
.card img{

  margin-bottom: 12px;

}
.card:hover i,
.card:hover p{

  color: white;

}
.card:hover h3{

  font-weight: 600;
  color: rgb(208, 224, 58);
transition: 0.5s ease-in-out;
}
.card:hover{

  transition: 0.5s ease-in-out;

}
.card:nth-child(1):hover{

  background:linear-gradient(45deg,
  rgba(225,28,8,0.7)0%, rgba(255, 0, 82, 0.7) 100%),
  url('img/dog-cat.png');
  background-size: cover;


}


.card:nth-child(2):hover{

  background:linear-gradient(45deg,
  rgba(225,28,8,0.7)0%, rgba(255, 0, 82, 0.7) 100%),
  url('img/dog-cat.png');
  background-size: cover;

}
.card:nth-child(3):hover{

  background:linear-gradient(45deg,
  rgba(225,28,8,0.7)0%, rgba(255, 0, 82, 0.7) 100%),
  url('img/dog-cat.png');
  background-size: cover;

}
.card:nth-child(4):hover{

  background:linear-gradient(45deg,
  rgba(225,28,8,0.7)0%, rgba(255, 0, 82, 0.7) 100%),
  url('img/dog-cat.png');
  background-size: cover;

  }


.card:nth-child(5):hover{

  background:linear-gradient(45deg,
  rgba(225,28,8,0.7)0%, rgba(255, 0, 82, 0.7) 100%),
  url('img/dog-cat.png');
  background-size: cover;

  }


.card:nth-child(6):hover{

  background:linear-gradient(45deg,
  rgba(225,28,8,0.7)0%, rgba(255, 0, 82, 0.7) 100%),
  url('img/dog-cat.png');
  background-size: cover;

  }


.card:nth-child(7):hover{

  background:linear-gradient(45deg,
rgba(225,28,8,0.7)0%, rgba(255, 0, 82, 0.7) 100%),
  url('img/dog-cat.png');
  background-size: cover;

  }

@media(max-width: 991px)
{

  .wrapper-services{

      padding: 25px;
      }
  .wrapper-services h1{

      font-size: 2.5em;
      font-weight: 600;

      }

  .content-box{

     flex-direction: column;
     width: 100%;

      }
  .card{
      
      min-width: 300px;
      margin: 10px auto;

      }

}


/* footer */

footer {
  bottom: 0;
  font-family: 'Ysabeau Office', sans-serif;
}

@media (max-height:800px) {
  footer {
      position: static;
  }
  header {
      padding-top: 40px;
  }
}

.footer-distributed {
  background-color:#252546;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}


/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color:#c44569;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-map-marker{

  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center i.fa-phone{

  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  padding-top: 2px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #ea3fbf;
}

.footer-links a:hover {
  color: #ea3fd3;
}

@media (max-width: 880px) {

  body{

    overflow-x: hidden;

  }
  

  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
  #con-threee {
  
    padding: 10px;
    
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-7%);
  }
  .call-us-label {
    font-weight: bold;
    color: #0f0801;
    margin-right: 5px;
    font-size: 11px;
  }
  
  .call-us-number {
    font-weight: bold;
    font-size: 12px;
    color: #c8eb68;
  }
  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    background-color:#22a6b3;
    z-index: 1001;
  }
  
  
}       

@media (max-width: 350px) {
  #con-threee {
  
    padding: 10px;
    
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-6%);
  }
} 


@media (max-width: 765px) {

  .navbar {
  
    top: 45px; 
      
  }



} 
